<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/site.css">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light m-0 p-0">
    <a class="navbar-brand">
        Intansition
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/api/products/Export" download>Скачать <i class="fa fa-download" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" onclick="return false" (click)="showBlockHidden()">О сайте</a>
            </li>
        </ul><span class="navbar-text">

            <button type="submit" class="btn btn-default bg-info" (click)="UpdateForm(); showModal=true" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Создать</button>
        </span>
        <span class="navbar-text">

            <button type="submit" class="btn btn-default bg-info" (click)="location();" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;Размещение</button>
        </span>
        <span class="navbar-text">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                <input type="text" class="form-control pull-right" [(ngModel)]="searchStr " placeholder="Поиск по таблице">
            </div>
        </span>
        <span class="navbar-text">

            <button type="submit" class="btn btn-default bg-info" (click)="exit()"><i class="fa fa-sign-out fa-5x" aria-hidden="true"></i>&nbsp;Выход</button>
        </span>
    </div>
</nav>

<div *ngIf="showBlock" class="jumbotron">
    <h1 class="display-4">Itransition!</h1>
    <p class="lead">Компания Itransition — один из лидеров мирового рынка ИТ-решений и услуг и неоднократный победитель конкурса «Брэнд года» в категории «Лучший работодатель».</p>
    <hr class="my-4">
    <p>Данный сайт позволяет облегчить работу с инвентаризационной техникой. Создание, редактирование, удаление, онлайн-поиск, а также создание отчёта.</p>
    <p class="lead">
        <input type="submit" class="btn btn-default bg-info" value="Скрыть" (click)="showBlockHidden()">
    </p>
</div>

<body id="body">
    <div class="container ">
        <div class="row">

            <div class="col-md-offset-4 col-md-4">
                <form class="form-horizontal">
                    <span class="heading">Техника</span>
                </form>
            </div>
        </div>
    </div>
    <div class="modal" id="exampleModalLong" [ngClass]="{'show':showModal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width:400px;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Добавление новой техники</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showModal=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style=" overflow-y: scroll; max-height: 450px;">
                    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
                        <input type="text" [(ngModel)]="technique.name" formControlName="Name" class="form-control mb-1" name="name" placeholder="Наименование" />
                        <div class="alert alert-danger"
                             *ngIf="myForm.controls['Name'].invalid && myForm.controls['Name'].touched">
                            name invalid!
                        </div>
                        <input type="text" [(ngModel)]="technique.model" formControlName="Model" class="form-control mb-1" name="model" placeholder="Модель" />
                        <div class="alert alert-danger"
                             *ngIf="myForm.controls['Model'].invalid && myForm.controls['Model'].touched">
                            model invalid!
                        </div>

                        <input type="number" [(ngModel)]="technique.number" formControlName="Number" class="form-control mb-1" name="number" placeholder="Номер" />
                        <div class="alert alert-danger"
                             *ngIf="myForm.controls['Number'].invalid && myForm.controls['Number'].touched">
                            namber invalid!
                        </div>

                        <input type="number" [(ngModel)]="technique.amount" formControlName="Amount" class="form-control mb-1" name="amount" placeholder="Количество" />
                        <div class="alert alert-danger"
                             *ngIf="myForm.controls['Amount'].invalid && myForm.controls['Amount'].touched">
                            amount invalid!
                        </div>
                        <span class="input-group-addon">Статус</span>
                        <select class="form-control custom-select mb-1" style="height:78%" [(ngModel)]="technique.status" name="status" formControlName="Status">
                            <option value="{{ values.Used }}">Используется</option>
                            <option value="{{ values.DontUsed }}">Не используется</option>
                        </select>
                        <div class="alert alert-danger"
                             *ngIf="myForm.controls['Status'].invalid && myForm.controls['Status'].touched">
                            status invalid!
                        </div>
                        <input type="text" [(ngModel)]="technique.notation" formControlName="Notation" class="form-control" name="notation" placeholder="Примечание" />
                        <div class="alert alert-danger"
                             *ngIf="myForm.controls['Notation'].invalid && myForm.controls['Notation'].touched">
                            notation invalid!
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default bg-info" value="Сохранить" (click)="save(); showModal=false" [disabled]="myForm.invalid">
                    <input type="submit" class="btn btn-default bg-info" value="Отмена" (click)="showModal=false">

                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>
                    <strong><em>Наименование </em></strong><i class="glyphicon glyphicon-sort-by-attributes " aria-hidden="true" type="submit" title="Сортировка по возрастанию" (click)="sort('Name','Asc')"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true" type="submit" title="Сортировка по убыванию" (click)="sort('Name','Dsc')"></i>
                </td>
                <td><strong><em>Модель </em></strong><i class="glyphicon glyphicon-sort-by-attributes " aria-hidden="true" type="submit" title="Сортировка по возрастанию" (click)="sort('Model','Asc')"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true" type="submit" title="Сортировка по убыванию" (click)="sort('Model','Dsc')"></i></td>
                <td><strong><em>Номер </em></strong><i class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" type="submit" title="Сортировка по возрастанию" (click)="sort('Number','Asc')"></i><i class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true" type="submit" title="Сортировка по убыванию" (click)="sort('Number','Dsc')"></i></td>
                <td><strong><em>Количество </em></strong><i class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" type="submit" title="Сортировка по возрастанию" (click)="sort('Amount','Asc')"></i><i class="glyphicon glyphicon-sort-by-attributes-alt " aria-hidden="true" type="submit" title="Сортировка по убыванию" (click)="sort('Amount','Dsc')"></i></td>
                <td><strong><em>Статус </em></strong><i class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true" type="submit" title="Сортировка по возрастанию" (click)="sort('Status','Asc')"></i><i class="glyphicon glyphicon-sort-by-attributes-alt " aria-hidden="true" type="submit" title="Сортировка по убыванию" (click)="sort('Status','Dsc')"></i></td>
                <td><strong><em>Примечание </em></strong></td>
                <td><strong><em>Действие </em></strong></td>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of techniques | search:searchStr ">
                <ng-template [ngIf]="technique?.id != p.id" [ngIfElse]="createOrEdit">
                    <td>{{p?.name}}</td>
                    <td>{{p?.model}}</td>
                    <td>{{p?.number}}</td>
                    <td>{{p?.amount}}</td>
                    <ng-template [ngIf]="p?.status == 0" [ngIfElse]="unset">
                        <td>Используется</td>
                    </ng-template>
                    <ng-template #unset>
                        <td>Не используется</td>
                    </ng-template>
                    <td>{{p?.notation}}</td>
                    <td>
                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" role="button" (click)="editProduct(p)" title="Редактировать"></i>&nbsp;
                        <i class="glyphicon glyphicon-trash" aria-hidden="true" role="button" (click)="delete(p);" title="Удалить"></i>
                    </td>
                </ng-template>
            </tr>

        </tbody>

    </table>
</body>
<ng-template #createOrEdit>
    <td>
        <input type="text" [(ngModel)]="technique.name" class="form-control" name="name" #name="ngModel" required placeholder="Наименование" />
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
            name invalid
        </div>
    </td>
    <td>
        <input type="text" [(ngModel)]="technique.model" class="form-control" name="model" #model="ngModel" required placeholder="Модель" />
        <div [hidden]="model.valid || model.untouched" class="alert alert-danger">
            model invalid
        </div>
    </td>
    <td>
        <input type="number" [(ngModel)]="technique.number" class="form-control" name="number" #number="ngModel" ng-minlength="5" required placeholder="Номер" />
        <div [hidden]="number.valid || number.untouched" class="alert alert-danger">
            number invalid
        </div>
    </td>
    <td>
        <input type="number" [(ngModel)]="technique.amount" class="form-control" name="amount" #amount="ngModel" required placeholder="Количество" />
        <div [hidden]="amount.valid || amount.untouched" class="alert alert-danger">
            amount invalid
        </div>
    </td>
    <td>
        <select class="form-control custom-select" style="height:78%" [(ngModel)]="technique.status" name="status" #status="ngModel" required>
            <!--<option [ngValue]="undefined" disabled selected> Please select one option </option>-->
            <option value="{{ values.Used }}">Используется</option>
            <option value="{{ values.DontUsed }}">Не используется</option>
        </select>
        <div [hidden]="status.valid || status.untouched" class="alert alert-danger">
            status invalid
        </div>
    </td>
    <td>
        <input type="text" [(ngModel)]="technique.notation" class="form-control" name="notation" #notation="ngModel" maxlength="20" />
        <div [hidden]="notation.valid" class="alert alert-danger">
            notation invalid
        </div>
    </td>
    <td>
        <button type="submit" class="btn btn-default btn-sm bg-info" (click)="save()" [disabled]="name.invalid || model.invalid || number.invalid || amount.invalid || status.invalid"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;</button>&nbsp;
        <button type="submit" class="btn btn-default btn-sm bg-info" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;</button>
    </td>
</ng-template>


